[Unit]
Description=Start flask server service
After=syslog.target

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/maonamassa/TW-MNM-DI
Type=forking
ExecStart=/bin/bash serverstart.sh
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
